header {
    background-color: rgba(166, 0, 255, 0.532);
    color: var(--secondary-color);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 5;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    font-size: max(1.5rem, 2.5vw);
    margin-right: 120px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
header a {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
    font-size: max(0.8rem, 1vw);
}
header a.active::after {
content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    bottom: -5px;
    left: 0;
}
header a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    bottom: -5px;
    left: 0;
}
header a:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}
.lang-drpdwn {
    position: relative;
}
.langs-btn {
    width: 100px;
}
.lang-btns {
    display: none;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 40px;
    width: 100px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.2);
}
.theme {
    position: relative;
}
.theme-btns {
    padding: 10px;
    border-radius: 5px;
}
.theme.active .theme-btns {
    display: flex;
}
.lang-drpdwn.active .lang-btns {
    display: flex;
}
.lang-drpdwn.active .fa-solid, .theme.active .fa-solid {
    transform: rotate(180deg);
}
.fa-solid {
    transition: transform 0.3s ease;
}
.header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

header button {
    background: transparent;
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.2s ease;
}
header button:hover {
    background-color: var(--hover-color);
}
nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
.user {
    position: relative;
}
.logout-btn {
    position: absolute;
    display: none;
    top: 25px;
    left: 0;
    padding: 10px 25px;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.logout-btn.active {
    display: flex;
}
.user .fa-angle-down {
    cursor: pointer;
}
.auth-btns {
    align-self: center;
    font-size: 0.9rem;
}
.close {
    display: none;
}
.burg-menu {
    display: none;
}
@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .close {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: var(--primary-color);
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        display: none;
        z-index: 100;
        padding: 50px 80px;
        width: 300px;
        box-sizing: border-box;
    }
    nav.active {
        display: flex;
    }
    .header-right {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        gap: 20px;
    }
    nav.active {
        right: 0;
    }
    .burg-menu {
        display: flex;
        font-size: 2rem;
        cursor: pointer;
        flex-direction: column;
        gap: 5px;
    }
    .burg-menu span {
            width: 30px;
            height: 3px;
            background-color: var(--secondary-color);
            border-radius: 5px;
    }
    .lang-btns {
        top: -120px;
        
    }
    .theme-btns {
        left: -120px;
        top: 0;
    }
}

    
@media (max-width: 1200px) {
    .header h1 {
        margin-right: 80px;
    }
}
@media (max-width: 900px) {
    .header h1 {
        margin-right: 50px;
    }
}