.image {
    width: 100%;
    height: 100%;
    position: absolute;
top: 0;
left: 0;
border-radius: 10px;
opacity: 0;
transition: 0.6s ease-in-out;
}
.image.active {
    opacity: 1;
}
.carousel {
    position: relative;
    width: min(600px, 90%);
    height: min(400px, 60vw);
    border-radius: 10px;
    box-shadow: 1px 1px 20px 10px rgba(0,0,0,0.4);
    margin: 50px auto;
}
.car-btn {
    background: transparent;
    color: var(--accent-color);
    font-size: 2rem;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
}
#left-btn {
    left: 10px;
}
#right-btn {
    right: 10px;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.home-ttl {
    margin: 50px 0;
    color: var(--primary-color);
font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
text-decoration: overline;
}
.pop {
    line-height: 40px;
    font-size: clamp(1.375rem, 1vw + 1rem, 1.75rem);
    position: relative;
    width: fit-content;
}
.pop::after {
    content: '';
    background-color: var(--primary-color);
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
}
.popular {
    overflow-x: auto;    
    width: 100%;
  padding: 0 16px;
}
.pop-movies {
    display: inline-flex;
    gap: 40px;
    margin: 30px 0;
    border-radius: 10px;
    padding: 20px 0;
    flex-wrap: nowrap;
}
.popular::-webkit-scrollbar {
appearance: none;
display: none;
}
.card-img {
     flex: 0 0 auto;
     max-width: 250px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding-bottom: 10px;
}
.card-img img {
    width: 100%;
}
.popular button {
    margin: auto;
    margin-bottom: 50px;
    padding: 15px 30px
}
@media (max-width: 1200px) {
    .pop-movies {
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 10px;
    }
    
}
@media (max-width: 768px) {

    .pop-movies {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 10px;
       justify-items: center;
    }
    
}