.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    min-height: 80.5vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.ttl-login {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.login-form .pass-inp {
    position: relative;
}
.login-form .pass-inp i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--primary-color);
}
.login-form .pass-inp input {
    width: 100%;
}