.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    min-height: 80.5vh;
}
.regist-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.register .ttl {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}
.regist-form input.invalid {
    background-color: rgb(255, 231, 246);
    border-color: rgb(126, 1, 1);
}
.regist-form .pass-inp {
    position: relative;
}
.regist-form .pass-inp i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--primary-color);
}
.regist-form .pass-inp input {
    width: 100%;
    }
.regist-form .valid {
    border-color: var(--accent-color);
}
.regist-form .invalid {
    border-color: rgb(126, 1, 1);
}   
.error {
    color: rgb(192, 0, 0);
    font-size: 14px;
    margin-top: 5px;
}